/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f3f3f3;
    font-family: 'Varela', sans-serif;
}
.main_container {
    margin-top: 1%;
    background-color: #fff;
    padding: 1%;
}
.breadcrumb {
    background-color: #f3f3f3;
    border-radius: 0px;
}