.nav_header {
    background-color: #fff;
    height: 75px;
    color: inherit;
    border-bottom: 1px solid #e8e8e8;
}
.nav_header .navbar-brand {
    font-weight: bold;
    color: orangered;
}
.nav_header .navbar-nav li a {
    margin-left: 10px;
}
.nav_header .navbar-nav li a.active {
    color: #2872a7;
    border-bottom: 4px solid #2872a7;
}
.nav_header .navbar-nav li a:hover {
    color: #2872a7;
}
.post_job_btn {
    background-color: #1b7ec5;
    border-color: #1b7ec5;
}
.right_nav .dropdown-menu {
    left: -28px;
    top: 35px;
}
.right_nav .dropdown-item {
    padding: 5px;
    width: 85%;
    text-align: center;
}