<nav class="navbar navbar-expand-md nav_header navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">Eventhub</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto"> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs" routerLinkActive="active">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/workers" routerLinkActive="active">Workers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
        </li>
      </ul>
      <ul class="navbar-nav right_nav">
          <li class="nav-item" *ngIf="!authService.loggedIn()">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn()">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()">
            <button routerLink="/jobs/post-job" class="btn btn-primary btn-md post_job_btn">Post Job</button>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()">
            <a class="nav-link" style="cursor: pointer">
              <div class="dropdown">
                <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.fname}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" style="cursor: pointer" (click)="authService.logoutUser()">Logout</a>
                </div>
              </div>
            </a>
          </li>
        </ul>
    </div> 
  </nav>