<div class="container main_container">
    <h4>Services</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Services</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-4 prof_grid" *ngFor="let prof of professions">
            <div class="card services_card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="user_icon" src="../../../assets/images/{{prof.name}}.png" alt="User Icon">
                        </div>
                        <div class="col-md-9">
                            <h5 class="card-title">{{prof.name}}</h5>
                            <p class="card-text">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
