<div class="container main_container">
    <nav aria-label="breadcrumb">
            <h4>Post Job</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">
                    <a  routerLink="/jobs">Jobs</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Post Job</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea cols="58" rows="5"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control" placeholder="Location">
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <input type="text" class="form-control" placeholder="Profession">
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-primary btn-md">Create Job</button>
        </div>
    </div>
    